/* Give styling here  */
div{
    text-align: center;
    border: 1px solid ;
}
#main{
    display: flex;
    gap: 12px;
    /* padding: 14px; */
}
#sidebar{
    width: 23%;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 12px;
    gap: 20px;
    width: 75%;
}
.item{
    text-align: center;
    padding: 12px;
    padding: 8px;
}
img{
    height: 150px;
    width: 150px;
}
.item>button{
    margin-left: 23px;
}
